/* Task 5 */


/* *,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 10;
    width: 200px;
    margin: 50px auto;
}

input {
    padding: 10px 15px;
}

input,
p,
a{
    width: 100%;
    margin-bottom: 10px;
}

#button {
    height: 40px;
    display: block;
    line-height: 40px;
    margin-bottom: 0;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    text-align: center;
    border: 1px solid #000;
    color: #000;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightblue;
    margin: 50px auto;
} */